---
layout: default
title: jkkim
permalink: /jkAbout/
---
<script src="../assets/js/vuejs.js"></script>

<div id="app-2">
	<div id="login-page">
		<div>
			<div :style="{ width: login_page? '750px': '900px', height:login_page? '605px': '700px'}">
				<div id="main-area">
					<div id="login-area">
						<table>
							<tbody>
								<tr>
									<td id="login-table-td">
										<div v-if="login_page === true">
											<div>JaKyoung.Kim Info Login</div>
											<div id="login-input-area">
												<input placeholder="ID" v-model="login_id" readonly/>
												<input placeholder="PWD" v-model="login_pwd" readonly/>
											</div>
											<button id="login-button" @click="login_func">로그인</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var app2 = new Vue({
	el: '#app-2',
	data: {
		login_id: '',
		login_pwd: '',
		login_page: true
	},
	created() {
	},
	mounted() {
		const id = ['A','D', 'M', 'I', 'N'];
		let count = 0;
		let check_target = false;
		const interval = setInterval(() => {
			if (!check_target) {
				this.login_id += id[count];
			}else {
				this.login_pwd += id[count]
			}
			if(count === 4 && check_target === false) {
				count = -1;
				check_target = true;
			} else if(count === 4 && check_target === true) {
				clearInterval(interval);
			}
			count++;
		}, 150);
	},
	methods: {
		login_func() {
			this.login_page = false;
		}
	}
})

</script>
<style scoped>
	
	#app-2 {
		width: 100%;
		height: 800px;
		position: relative;
		text-align: center;
		background-color: #212224;
	}

	#app-2 > * {
		box-sizing: border-box;
	}

	#login-page {
		display: inline-block;
		width: 1500px;
		height: 100%;
		background: url("../assets/images/about/desk.jpg") no-repeat;
		background-size: cover;
	}

	#login-page > div:nth-child(1) {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#login-page > div:nth-child(1) > div:nth-child(1) {
		margin-top: 50px;
		background: url("../assets/images/about/mac.png") no-repeat;
		background-size: contain;
		display: inline-block;
		transform: translateX(50px);
	}
	.container {
		width: 100% !important;
    	padding: 0 !important;
	}

	#main-area {
    width: 100%;
    height: 447px;
    padding: 27px 28px;
    box-sizing: border-box;
	}

	#login-area {
		width: 100%;
		height: 100%;
	}

	#login-area > table {
		width: 100%;
		height: 100%;
	}
	#login-table-td {
		text-align: center;
	}

	#login-table-td > div:nth-child(1) {
		width: 300px;
		height: 180px;
		padding: 10px;
		display: inline-block;
		border-radius: 7.5px;
		border: 2px solid #515cde;
		background: rgb(238,174,202);
		background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	}

	#login-table-td > div:nth-child(1) > div:nth-child(1) {
		width: 100%;
		height: auto;
		font-size: 22px;
		font-weight: bold;
		color: #4a0b5f;
	}

	#login-input-area {
		width: 100%;
		height: auto;
		margin-top: 15px;
	}

	#login-input-area > input{
		width: 60%;
		height: 25px;
		font-weight: bold;
		text-indent: 10px;
		border: 1px solid #bb2b88;
	}

	#login-input-area > input:nth-child(2){
		margin-top: 5px;
	}
	#login-button {
		margin-top: 10px;
		width: 30%;
		height: 30px;
		border: 1px solid #bb2b88;
		background-color: #637cc1;
		color: #ffffff;
		border-radius: 3.5px;
		cursor: pointer;
		font-size: 15px;
	}
</style>