---
layout: default
title: jkkim
permalink: /jkAbout/
---
<script src="../assets/js/vuejs.js"></script>

<div id="app-2">
	<div id="login-page">
		<div>
			<div :style="{ width: login_page? '750px': '870px', height:login_page? '605px': '700px'}">
				<div :class="{'login-before-area': login_page, 'login-after-area': !login_page}">
					<div id="login-area">
						<table>
							<tbody>
								<tr>
									<td id="login-table-td">
										<div id="page1" v-if="login_page === true">
											<div>JaKyoung.Kim Info Login</div>
											<div id="login-input-area">
												<input placeholder="ID" v-model="login_id" readonly/>
												<input placeholder="PWD" v-model="login_pwd" readonly/>
											</div>
											<button id="login-button" @click="login_func">로그인</button>
										</div>
										<div id="page2" v-if="(login_page === false && current_page === '')">
											<div class="background"></div>
											<div id="page2_list_area">
												<table>
													<tbody>
														<tr>
															<td id="page2-table-td">
																<div>
																	<div id="page2-list-info-text">
																		<div>KIM.JAKYOUNG</div>
																	</div>
																	<div id="page2-list-button">
																		<div @click="page_func('page3')">PROFILE</div>
																		<div @click="page_func('page4')">SKILLS</div>
																		<div @click="page_func('page5')">EXPERIENCES</div>
																		<div @click="login_func">END</div>
																	</div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div id="page3" v-if="(login_page === false && current_page === 'page3')">
											<div class="button-list-area">
												<div @click="page_func('page4')">SKILLS</div>
												<div @click="page_func('page5')">EXPERIENCES</div>
												<div @click="login_func">END</div>
											</div>
											<div class="background"></div>
											<table>
												<tbody>
													<tr>
														<td id="page3_td">
															<div>
																<div id="page3_title_area">PROFILE</div>
																<div id="page3_img_area">
																	<div></div>
																</div>
																<div id="page3_info">
																	<div>김자경(Kim Jakyoung)</div>
																	<div>
																		&nbsp;&nbsp;웹서비스를 개발하고 있는 김자경 입니다. Front-End, Back-End 모두 관심이 있습니다. Front-End는 최근 React, Vuejs로 개발을 하고 있으며
																		Back-End는 Java(Spring Boot), PHP(CI)를 사용하고 있습니다. 그리고 최근에는 Dev-Ops docker, K8S, ELK(ElasticSearch, Logstash, Kibana)를 공부하며 활용 방안을 고민하고있습니다.
																		<br><br>
																		&nbsp;&nbsp;새로운 기술을 도입하는 것을 두려워 하지 안으며 배우고 공부하는 것을 추구하고 있습니다.
																		<br><br>
																	</div>
																	<div>#ETC</div>
																	<div>
																		<ul>
																			<li>2009년 이천고등학교 졸업</li>
																			<li>2011.10 육군 통신병 만기제대</li>
																			<li>2015.02 대학 졸업</li>
																			<li>2015.03 ~ 2016.03 개발 직군이 아닌 타 직종에서 1년 재직</li>
																			<li>2016.06 ~ 2017.01 KOSTA(한국소프트웨어기술진흥협회) 개발자 과정 이수</li>
																			<li>2017.03 ~ 2018.09 TvHub</li>
																			<li>2018.09 ~ 현재 Catenoid 재직중</li>
																		</ul>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div id="page4" v-if="(login_page === false && current_page === 'page4')">
											<div class="button-list-area">
												<div @click="page_func('page3')">PROFILE</div>
												<div @click="page_func('page5')">EXPERIENCES</div>
												<div @click="login_func">END</div>
											</div>
											<div class="background"></div>
											<div class="page-area">
												<table class="page-area-table">
													<tbody>
														<tr>
															<td>
																<div>test4</div>
															</td>
														</tr>	
													</tbody>
												</table>
											</div>
										</div>
										<div id="page5" v-if="(login_page === false && current_page === 'page5')">
											<div class="button-list-area">
												<div @click="page_func('page3')">PROFILE</div>
												<div @click="page_func('page4')">SKILLS</div>
												<div @click="login_func">END</div>
											</div>
											<div class="background"></div>
											<div class="page-area">
												<table class="page-area-table">
													<tbody>
														<tr>
															<td>
																<div>test5</div>
															</td>
														</tr>	
													</tbody>
												</table>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var app2 = new Vue({
	el: '#app-2',
	data: {
		login_id: '',
		login_pwd: '',
		login_page: true,
		current_page: ''
	},
	created() {
	},
	mounted() {
		const id = ['A','D', 'M', 'I', 'N'];
		let count = 0;
		let check_target = false;
		const interval = setInterval(() => {
			if (!check_target) {
				this.login_id += id[count];
			}else {
				this.login_pwd += id[count]
			}
			if(count === 4 && check_target === false) {
				count = -1;
				check_target = true;
			} else if(count === 4 && check_target === true) {
				clearInterval(interval);
			}
			count++;
		}, 150);
	},
	methods: {
		login_func() {
			if (this.login_page) {
				this.current_page = '';
			}
			this.login_page = !this.login_page;
		},
		page_func(value) {
			this.current_page = value;
		}
	}
})

</script>
<style scoped>
	#app-2 {
		width: 100%;
		height: 800px;
		position: relative;
		text-align: center;
		background-color: #212224;
	}

	#app-2 > * {
		box-sizing: border-box;
		-ms-user-select: none;
		-moz-user-select: -moz-none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		user-select:none;
	}

	#login-page {
		display: inline-block;
		width: 1500px;
		height: 100%;
		background: url("../assets/images/about/desk.jpg") no-repeat;
		background-size: cover;
	}

	#login-page > div:nth-child(1) {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#login-page > div:nth-child(1) > div:nth-child(1) {
		margin-top: 50px;
		background: url("../assets/images/about/mac.png") no-repeat;
		background-size: contain;
		display: inline-block;
		transform: translateX(50px);
	}
	.container {
		width: 100% !important;
    	padding: 0 !important;
	}

	.login-before-area {
    width: 100%;
    height: 447px;
    padding: 27px 28px;
    box-sizing: border-box;
	}

	.login-after-area {
		width: 100%;
		height: 518px;
		padding: 30px 34px;
		box-sizing: border-box;
	}

	#login-area {
		width: 100%;
		height: 100%;
	}

	#login-area > table {
		width: 100%;
		height: 100%;
	}
	#login-table-td {
		text-align: center;
	}

	#page1 {
		width: 300px;
		height: 180px;
		padding: 10px;
		display: inline-block;
		border-radius: 7.5px;
		border: 2px solid #515cde;
		background: rgb(238,174,202);
		background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	}

	#page1 > div:nth-child(1) {
		width: 100%;
		height: auto;
		font-size: 22px;
		font-weight: bold;
		color: #4a0b5f;
	}

	#login-input-area {
		width: 100%;
		height: auto;
		margin-top: 15px;
	}

	#login-input-area > input{
		width: 60%;
		height: 25px;
		font-weight: bold;
		text-indent: 10px;
		border: 1px solid #bb2b88;
	}

	#login-input-area > input:nth-child(2){
		margin-top: 5px;
	}
	#login-button {
		margin-top: 10px;
		width: 30%;
		height: 30px;
		border: 1px solid #bb2b88;
		background-color: #637cc1;
		color: #ffffff;
		border-radius: 3.5px;
		cursor: pointer;
		font-size: 15px;
	}

	#page2 {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.background {
		position: fixed;
		top: 0;
		left: 36px;
		width: 92%;
		height: 74%;
		background-color: #000000;
		opacity: 0.5;
	}
	#page2_list_area {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	#page2_list_area > table {
		width: 100%;
		height: 100%;
	}

	#page2-table-td {
		width: 100%;
		height: 100%;
		text-align: center;
	}
	#page2-table-td > div:nth-child(1) {
		width: 500px;
    	height: auto;
		display: inline-block;
	}
	#page2-list-info-text {
		width: 100%;
		height: auto;
	}
	#page2-list-info-text > div:nth-child(1) {
		font-size: 50px;
		font-weight: bold;
		margin-bottom: 10px;
		text-decoration: underline #515cde;
		color: #2ea1f3;
	}

	#page2-list-button {
		padding: 0 150px;
	}
	#page2-list-button > div:nth-child(n) {
		width: 100%;
		height: 50px;
		line-height: 50px;
		border: 1.5px solid #8db5f1;
		font-size: 25px;
		font-weight: bold;
		color: #515cde;
	}

	#page2-list-button > div:nth-child(n+2) {
		margin-top: 10px;
	}

	#page2-list-button > div:nth-child(n):hover {
		background-color: #515cde;
		color: #8db5f1;
		cursor: pointer;
	}

	#page3 {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}

	#page3 > table {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#page3_td {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#page3_td > div:nth-child(1) {
		display: inline-block;
		width: 80%;
		height: 90%;
		display: inline-block;
	}
	
	#page3_title_area {
		text-align: left;
		text-align: left;
		font-size: 30px;
		font-weight: bold;
		color: #00aeff;
		text-decoration: underline;
	}

	#page3_img_area {
		width: 100%;
		margin-top: 15px;
	}

	#page3_img_area > div:nth-child(1){
		background: url(https://avatars0.githubusercontent.com/u/43332081?s=400&v=4) no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	#page3_info {
		width: 100%;
		height: 100%;
		margin-top: 20px;
	}

	#page3_info > div:nth-child(1) {
		text-align: left;
		font-size: 18px;
		color: #fdeaea;
		font-weight: bold;
	}

	#page3_info > div:nth-child(2) {
		text-align: left;
		margin-top: 10px;
		color: #ededed;
	}

	#page3_info > div:nth-child(3) {
		text-align: left;
		font-size: 23px;
		color: #fdeaea;
		font-weight: bold;
	}

	#page3_info > div:nth-child(4) {
		text-align: left;
		color: #fdeaea;
	}

	#page3_info > div:nth-child(5) {

	}
	
	.button-list-area {
		position: absolute;
		top: 0;
		right: 2px;
		z-index: 100000;
		width: 150px;
	}

	.button-list-area > div:nth-child(n) {
		width: 150px;
		float: left;
		font-size: 20px;
		border: 1px solid #ededed;
		background-color: #515cde;
		color: #8db5f1;
		cursor: pointer;
		font-weight: bold;
	}

	.button-list-area > div:nth-child(n):hover {
		background-color: #8db5f1;
		color: #515cde;
	}

	.page-area {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 100%;
	}

	.page-area-table {
		width: 100%;
		height: 100%;
	}

	.page-area-table > tbody > tr > td {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.page-area-table > tbody > tr > td > div:nth-child(1){
		display: inline-block;
		width: 80%;
		height: 100%;
	}

	#page4 {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}

	#page5 {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
</style>