html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 780px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-container {
  width: 600px;
  height: 600px;
  padding: 50px;
  max-height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 600px;
  max-height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -60px !important;
  right: auto;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -60px !important;
  left: auto;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -40px !important;
  left: 0;
  width: 100%;
}

:root {
  --swiper-theme-color: #ad9456 !important;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
}

.fc .fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

.fc .fc-daygrid-day-number {
  font-size: 1.2em;
  color: #c8c8ff;
}

.fc .fc-col-header-cell-cushion {
  color: #ffa6a6;
}

.fc .fc-toolbar-title {
  color: #ffa6a6;
}

@media screen and (max-device-width: 720px) {
  body {
    font-size: 10px;
  }

  .swiper-container {
    padding: 0;
  }

  .swiper-container, .swiper-slide {
    width: 300px !important;
  }

  html, body, #root {
    min-height: 300px;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -32px !important;
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -32px !important;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -40px !important;
  }

  .fc .fc-view-harness {
    min-height: 322px;;
  }
}
