@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 

* {
    font-family: 'Noto Sans KR', sans-serif;
}

$color-1: #000000;
$color-2: #3c2d09;
$color-3: #ad9456;
$color-4: #ffffff;
$color-5: #424242;
$color-6: #757575;
$color-7: #454545;

$size-10: 10px;
$size-20: 20px;
$size-30: 30px;
$size-40: 40px;